.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.nameColumn {
    flex-basis: 60%;
}

.column {
    flex-basis: 20%;
}

.alignRight {
    text-align: right;
}