.searchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.8em auto;
    padding: 0 1em;
    width: 80%;
    background-color: white;
    border-radius: 8px;
}

.control {
    margin: 1em 0;
}

.grow {
    flex: 0 1 60%;
}

@media (max-width: 480px) {
    .searchContainer {
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

